<div id="sidebar">
	<ul>
		<li id="release-notes" class="widget"><a href="{{.Site.BaseURL}}/status-updates"><h2 class="widgettitle">Status updates</h2></a></li>
		<li id="release-notes" class="widget"><a href="{{.Site.BaseURL}}/release-notes"><h2 class="widgettitle">Release notes</h2></a></li>
		<li id="documentation" class="widget"><a href="{{.Site.BaseURL}}/documentation"><h2 class="widgettitle">Documentation</h2></a></li>

		<li id="text-3" class="widget widget_text">
				<div class="textwidget">
					<a href="http://goo.gl/P3IGcH" onClick="javascript: pageTracker._trackPageview('/download/logview4net'); ">
					<img src="{{.Site.BaseURL }}/images/dlb.png" alt="Download" />
					</a>

					<br />

					<form class='donate' method='post' action='https://www.paypal.com/cgi-bin/webscr'>
						<input type='hidden' value='' name='amount'/>		
						<input type='hidden' value='_xclick' name='cmd'/>		
						<input type='hidden' value='donation@jsisoft.se' name='business'/>		
						<input type='hidden' value='Donation for logview4net' name='item_name'/>		
						<input type='hidden' value='1' name='no_shipping'/>		
						<input type='hidden' value='http://logview4net.com' name='return'/>		
						<input type='hidden' value='http://logview4net.com' name='cancel_return'/>		
						<input type='hidden' value='USD' name='currency_code'/>		
						<input type='hidden' value='' name='page_style'/>		
						<input type='hidden' value='0' name='tax'/>		
						<input type='image' alt='PayPal - The safer, easier way to pay online' name='submit' style='border: 0pt none ;' src='https://www.paypal.com/en_US/i/btn/btn_donate_LG.gif'/>
					</form>

				</div> <!-- textwidget -->
		</li>
	</ul><!-- end ul -->
</div><!-- end sidebar -->

