<div id="sidebar">
	<ul>
		<li id="release-notes" class="widget"><a href="{{.Site.BaseURL}}/status-updates"><h2 class="widgettitle">Status updates</h2></a></li>
		<li id="release-notes" class="widget"><a href="{{.Site.BaseURL}}/release-notes"><h2 class="widgettitle">Release notes</h2></a></li>
		<li id="documentation" class="widget"><a href="{{.Site.BaseURL}}/documentation"><h2 class="widgettitle">Documentation</h2></a></li>

		<li id="text-3" class="widget widget_text">
				<div class="textwidget">
					<a href="http://goo.gl/P3IGcH" onClick="javascript: pageTracker._trackPageview('/download/logview4net'); ">
					<img src="{{.Site.BaseURL }}/images/dlb.png" alt="Download" />
					</a>

					<br />

					<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
					<!-- logview4net -->
					<ins class="adsbygoogle"
					     style="display:inline-block;width:240px;height:400px"
					     data-ad-client="ca-pub-1963709304355638"
					     data-ad-slot="5734400738"></ins>
					<script>
					(adsbygoogle = window.adsbygoogle || []).push({});
					</script>
				</div> <!-- textwidget -->
		</li>
	</ul><!-- end ul -->
</div><!-- end sidebar -->

