<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="logview4net.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<userSettings>
		<logview4net.Settings1>
   <setting name="BaseColor" serializeAs="String">
    <value>Khaki</value>
   </setting>
   <setting name="DarkColor" serializeAs="String">
    <value>Goldenrod</value>
   </setting>
   <setting name="LightColor" serializeAs="String">
    <value>LemonChiffon</value>
   </setting>
   <setting name="Logger" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="LogPort" serializeAs="String">
    <value>9899</value>
   </setting>
   <setting name="ManifestUrl" serializeAs="String">
    <value>http://logview4net.com/dlfolder/logview4net.version</value>
   </setting>
   <setting name="NextManifestCheck" serializeAs="String">
    <value>2012-11-01</value>
   </setting>
   <setting name="FormPos" serializeAs="String">
    <value>0, 0</value>
   </setting>
   <setting name="FormSize" serializeAs="String">
    <value>0, 0</value>
   </setting>
   <setting name="FormState" serializeAs="String">
    <value>Normal</value>
   </setting>
   <setting name="DefaultSettings" serializeAs="String">
    <value/>
   </setting>
  </logview4net.Settings1>
	</userSettings>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient"/>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
    </DbProviderFactories>
  </system.data><startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
