<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="logview4net.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<userSettings>
		<logview4net.Settings1>
   <setting name="BaseColor" serializeAs="String">
    <value>Khaki</value>
   </setting>
   <setting name="DarkColor" serializeAs="String">
    <value>Goldenrod</value>
   </setting>
   <setting name="LightColor" serializeAs="String">
    <value>LemonChiffon</value>
   </setting>
   <setting name="Logger" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="LogPort" serializeAs="String">
    <value>9899</value>
   </setting>
   <setting name="ManifestUrl" serializeAs="String">
    <value>http://logview4net.com/dlfolder/logview4net.version</value>
   </setting>
   <setting name="NextManifestCheck" serializeAs="String">
    <value>2012-11-01</value>
   </setting>
   <setting name="FormPos" serializeAs="String">
    <value>0, 0</value>
   </setting>
   <setting name="FormSize" serializeAs="String">
    <value>0, 0</value>
   </setting>
   <setting name="FormState" serializeAs="String">
    <value>Normal</value>
   </setting>
   <setting name="DefaultSettings" serializeAs="String">
    <value />
   </setting>
  </logview4net.Settings1>
	</userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.25.2.0" newVersion="3.25.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ZstdSharp" publicKeyToken="8d151af33a4ad5cf" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.7.5.0" newVersion="0.7.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="K4os.Compression.LZ4.Streams" publicKeyToken="2186fa9121ef231d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.6.0" newVersion="1.3.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Pipelines" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
