{{ template "theme/chrome/head.html" . }}
<body>
    <div class="content container">
		<div id="page">
			<div id="header">
				<div class="header_wrapper">
				<div class="header_left">
					<h1><a href="{{ .Site.BaseURL }}">logview4net</a></h1>
					<h2>a log viewer (tail) for multiple sources</h2>
				</div>		
				<div class="header_right">
					<ul>
						<li><a href="{{ .Site.BaseURL }}">Home</a></li>
						<li class="page_item"><a href="http://jsi.se">Contact Me</a></li>
						<li class="page_item"><a href="{{ .Site.BaseURL }}/links/">Links</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div id="container">
		  <div id="main">
			
			{{ range .Data.Pages }}
    		<div class="post">		
			  <div class="postdate">
        		<div class="month">{{ .Date.Format "Jan" }}</div>
        		<div class="date">{{ .Date.Format "2" }}</div>
      		  </div><!-- end postdate-->
			<div class="title">
				<h2><a href="{{ .Permalink }}" rel="bookmark" title="Permanet Link to {{ .Title }}">{{ .Title }}</a></h2>
		    </div><!-- end title -->
		</div><!-- end post -->
	    <div class="navi">
        	<div class="left"></div>
			<div class="right"></div>
     	</div><!-- end navi -->
			{{ end }}	  
		</div><!-- end main -->

  <!--  {{ .Date.Format "Mon, Jan 2, 2006" }} -->


      



{{ template "theme/chrome/sidebar.html" . }}

</div><!-- end container -->
<div id="footer">
	<div class="footer_wrapper">
		<div class="footer_left">
			<a href="{{ .Site.BaseURL }}" title="logview4net">logview4net</a> &middot; <a href="http://imotta.cn/" title="Coogee Theme">coogee theme</a> &middot; 2008
		</div>
		<div class="footer_right">
			<a href="{{ .Site.BaseURL }}/feed/" title="Subscribe logview4net">RSS Feed</a>
		</div>
	</div><!-- end footer_wrapper -->
</div><!-- end footer -->

<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-581120-14']);
	  _gaq.push(['_trackPageview']);
	
	  (function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script></div><!-- end page -->
</body>
</html>
